/* Root variables */
:root {
    --bg-color: #555;
    --main-text-color: #333;
    --primary-color: #007bff;
    --primary-color-2: #5dabff;
    --border-radius: 5px;
    --font-size-large: 18px;
    --padding: 10px;
}

/* General styling */
body {
    font-family: monospace;
    padding: 2rem;
    background-color: var(--background-color, #333); /* Default to dark mode */
    color: var(--text-color, #fff); /* Default to white text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

/* Center the container */
.container {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--item-background, #444); /* Dark mode background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: fit-content;
    /* min-height: 550px; */
}

/* Title */
h1 {
    color: var(--title-color, #fff);
    text-align: center;
    font-size: 1.5rem;
}

/* Password list */
.password-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
    border-radius: 5px;
    background-color: var(--bg-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    padding: 10px;
    box-sizing: border-box; /* Make padding inclusive of the width */
}

/* Password label */
.password-label {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #fff;
    flex: 0.5;
}

.error-container {
    text-align: center;
    padding: 3em;
    max-width: 650px;
    border-radius: 8px;
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.status-code {
    font-size: 3em;
    font-weight: bold;
    color: #dc3545;
}
.error-message {
    font-size: 1.5em;
    margin: 15px 0;
    color: salmon;
}
.error-detail {
    color: #fff;
    font-size: 1em;
    margin-top: 20px;
    text-transform: lowercase;
}

/* Password input box */
.password-box {
    padding: 8px;
    font-family: monospace;
    font-size: 0.9rem;
    background-color: var(--bg-color);
    flex: 3; /* Take more space */
    color: rgb(249, 174, 35);
    /* border: 1px solid var(--primary-color); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
    /* Show ellipsis when text overflows */
}

/* Copy button */
.copy-button {
    padding: 8px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: monospace;
    flex: 1;
    min-width: 0; /* Prevent overflow */
    max-width: 80px;
}

.copy-button:hover {
    background-color: #0069da;
}

#regenerate-button:hover {
    background-color: rgb(182, 119, 2);
}

/* Regenerate button */
#regenerate-button {
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    background-color: rgb(211, 139, 5);
    border: none;
    border-radius: 1rem;
    margin-top: 20px;
    font-size: 1rem;
    font-family: monospace;
    max-width: 200px;
    width: 100%;
    margin: 20px auto;
}

/* Toast Notification */
.toast {
    visibility: hidden;
    min-width: 250px;
    font-family: monospace;
    background-color: rgb(9, 193, 9);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    body {
        padding: 1rem;
    }

    .container {
        padding: 1rem;
    }

    .password-item {
        flex-direction: column;
        width: 100%;
        margin-bottom: 16px;
        padding: 1rem;
    }

    .password-label,
    .copy-button {
        max-width: 100%;
        width: 100%; /* Ensure full width on smaller screens */
        margin-bottom: 5px; /* Add spacing between elements */
        flex: 1;
        margin: 0;
    }

    .password-box {
        width: 96%;
    }

    #regenerate-button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    .password-box {
        font-size: 0.9rem;
    }

    .password-item {
        width: 100%;
    }
}
