<!DOCTYPE html>
<html lang="en">
    {% include './head.html' %}
    <body>
        <div class="container">
            <div style="margin-bottom: 2rem">
                <h1>🔐 Passwords</h1>
                <h3 style="font-weight: 400; letter-spacing: 0.5px">⭐ Bookmark your favourite</h3>
                <a href="/{{ random_method }}" style="text-decoration: none">
                    <h3 style="color: var(--primary-color-2); font-weight: 300">pwplz.com/{{ random_method }}</h3>
                </a>
                <!-- WARNING -->
                {% include './warning.html' %}
            </div>
            <!-- PASSWORDS BLOCK -->
            <div class="password-list">
                {% for method, password in passwords.items() %}
                <div class="password-item">
                    <!-- PASSWORD LABEL -->
                    <span class="password-label">{{ method }}</span>
                    <!-- PASSWORD TEXTBOX -->
                    <input
                        type="text"
                        id="password_{{ loop.index }}"
                        class="password-box"
                        value="{{ password }}"
                        readonly
                    />
                    <!-- PASSWORD COPY BUTTON -->
                    <button class="copy-button" onclick="copyToClipboard('password_{{ loop.index }}', '{{ method }}')">
                        Copy 🔗
                    </button>
                </div>
                {% endfor %}
            </div>
            <!-- REGENERATE BUTTON -->
            <button id="regenerate-button">🔄 Regenerate</button>
            <!-- FOOTER -->
            {% include './footer.html' %}
        </div>
        <!-- TOASTBAR -->
        <div id="toast" class="toast"></div>
        <!-- JAVASCRIPT -->
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </body>
</html>
