<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>password, please!</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" type="image/pmg" />

    <!-- <script src="{{ url_for('static', path='/script.js') }}"></script> -->

    <script
        defer
        data-website-id="67cf1cc08d146a5c13e2b164"
        data-domain="pwplz.com"
        src="https://datafa.st/js/script.js"
    ></script>
</head>
