<!DOCTYPE html>
<html lang="en">
    <!-- INCLUDE META -->
    {% include './head.html' %}
    <body>
        <div class="container">
            <!-- HEADER -->
            <div style="margin-bottom: 2rem">
                <h1>🔐 Your <span style="color: orange">{{ slug }}</span> password</h1>
                <a href="/" style="text-decoration: none">
                    <h3 style="color: var(--primary-color-2); font-weight: 300">⬅️ Back to passwords</h3>
                </a>
                <!-- WARNING -->
                {% include './warning.html' %}
            </div>
            <!-- PASSWORD BLOCK -->
            <div class="password-list">
                <div class="password-item">
                    <!-- PASSWORD TEXTBOX -->
                    <input type="text" id="password_box" class="password-box" value="{{ password }}" readonly />
                    <!-- PASSWORD COPY BUTTON -->
                    <button class="copy-button" onclick="copyToClipboard('password_box', '{{ slug }}')">Copy 🔗</button>
                </div>
            </div>
            <!-- REGENERATE BUTTON -->
            <a href="#" onclick="location.reload(); return false;">
                <button id="regenerate-button">password, please!</button>
            </a>
            <!-- FOOTER -->
            {% include './footer.html' %}
        </div>
        <!-- TOAST BAR -->
        <div id="toast" class="toast"></div>
    </body>
</html>
