<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>password, please!</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
        <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" type="image/pmg" />
    </head>
    <body>
        <div class="container">
            <h2>Here's your <span style="color: orange">{{ method }}</span> password</h2>
            <div class="password-list">
                <div class="password-item">
                    <input type="text" id="password_box" class="password-box" value="{{ password }}" readonly />
                    <button class="copy-button" onclick="copyToClipboard('password_box', '{{ method }}')">Copy</button>
                </div>
            </div>
            <button id="regenerate-button">Regenerate</button>
        </div>
        <div id="toast" class="toast"></div>
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </body>
</html>
